@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: #255560;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.options {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-text {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
}

.talk-prompt {
    color: #F2E99A;
    margin-top: 50px;
}

.selection {
    width: 65vw;
    margin: auto;
    height: auto;
    /* display: flex;
    justify-content: space-around; */
}

.person {
    color: white;
    text-decoration: none;
    filter: grayscale(100%);
}

.person:hover {
    color: white;
    filter: grayscale(0);
}

/* .chat-container {
    position: absolute;
    display: flex;
    left: 120px;
    top: 140px;
} */

.chat-person {
    position: absolute;
    top: 170px;
    left: 120px;
    color: white;
    width: 200px;
}

.chatbox {
    position: absolute;
    top: 140px;
    left: 350px;
}

.chatbox img {
    width: 863px;
}

.request {
    overflow: hidden;
    width: 730px;
    height: 250px;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    top: 40px;
    left: 90px;
}

.suggestions {
    position: absolute;
    display: flex;
    left: 95px;
    bottom: 100px;
    width: 725px;
}

.feature {
    display: flex;
    position: absolute;
    left: 90px;
    bottom: 40px;
}

.send input {
    width: 550px;
    height: 55px;
    font-size: 1.5em;
    margin-right: 10px;
}

.send button {
    background-color: #255560;
    width: 170px;
    height: 55px;
    border: none;
}

.send button:hover {
    background-color: #172f34;
}

.send button:focus {
    background-color: #255560;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}